################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################
# Изменение от Github + новая ветка
# Еще одно изменение из коллаборации
/.vs
/Project1/x64/Debug
/x64/Debug
